@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.Label1{
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    color:#BBBBBB;
}
.PriceLabel{
    font-family: 'Raleway', Arial, sans-serif;
    color:#BBBBBB;
    font-size: x-large;
}
.FormClass{
    position: absolute;
    top: 24%;
    width: 87.3%;
}
.cartForm{
    width: 60px;
    height: 100px;
    position: absolute;
    top: 56px;
    right: 80px;
    color: #A87DAB;
}
.cartForm :hover {
    color:#BBBBBB;
    cursor:pointer
}

.cartLabel{
    
    position: absolute;
    top: 3px;
    left: 30px;
    
}
.carForm{
    width: 300px;
    height: 300px;
    position: absolute;
    display: block;
    top: 17.3%;
    right: 90px;
    background-color: white;
    
}
.homebuttonall{
  
    position: absolute;
    top: 10px;
    left: 5px;
    cursor: pointer;
}
.homebuttonall:hover{
    color:#A87DAB;
}
.cartform{
   position: absolute;
   left: 5px;
}
.titlelabel{
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
    font-size: large;
}
.addorder{
    color: #A87DAB;
    position: absolute;
    left: 240px;

}
.addorder :hover{
    color: #BBBBBB;
    
}
.removeorder :hover{
    color: #BBBBBB;
}
.removeorder{
    color: #A87DAB;
    position: absolute;
    left: 260px;
    top:27px
}
.cartlabelempty{
    font-size: large;
    font-family: 'Raleway', Arial, sans-serif;
    color: #A87DAB;
    padding-left: 5px;
}
.labelcart{
    font-size: small;
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
    padding-left: 5px;
}
.allform{
    display: inline-table;
    
}
.labeleffect{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2px;
    right: -15px;
    font-size: large;
    color: black;
    

}
.LabelBox{
    position: absolute;
    top:  -30px;
    width: 150px;
    height: 100px;
    background-color:#BBBBBB ;
}
.Notiy{
    width: 300px;
    position: absolute;
    top: -7px;
    right: 10px;
}
.ShopCartIcon{
    
    position: absolute;
      top: -8px;
    right: 15px;
}
.text-center{
    min-height: 750px;
}

@media only screen and (max-width: 768px){
    .ShopCartIcon{
      top: -57px;
        right: -70px;
    }
    .Notiy{
      
       
        top: -55.2%;
        right: -90%;
    }
  
}
